.card {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 10rem;
      padding: 1rem;
      border: 1px solid rgb(229, 229, 229);
      border-radius: .8rem;
      transition: .2s all;

      &:hover {
         box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
         transform: translateY(-1%);
      }

      .favorite {
         align-self: start;
         cursor: pointer;
      }

      img {
         object-fit: contain;
      }

      .cardInfo {
         display: flex;
         column-gap: 1rem;
         align-items: center;

         .cardPrice {
         display: flex;
         flex-direction: column;

         span {
            font-weight: bold;
            color: #616161;
         }
         }

         img {
         cursor: pointer;
         }
      }
   }